:root {

	--vertical-space-unit: 1rem;

	--grid-gutter: 24px;
	--grid-margin: 10vw;

	--card-border-radius: 5px;
	--card-padding: 1rem;


	--color-text-primary: #111;
	--color-text-secondary: #666;
	--color-text-tertiary: #999;
	--color-text-primary-negative: #FFF;
	--color-text-secondary-negative: #888;

	--color-background-primary: #f5f5f5;
	--color-background-primary-negative: #222;

	--color-card-background-primary: #FFF;
	--color-card-background-secondary: #d4d4d4;
}